.App-UpComingWeek { margin: 2em 0 ; }

@media (min-width: 1000px) {
  .table-7-4-2 .col { flex-grow: 1; }
}

@media (min-width: 800px) and (max-width: 1000px){
  .table-7-4-2 { flex-wrap: wrap; }
  .table-7-4-2 .col {
    box-sizing: border-box;
    width: 25%;
  }
}

@media (max-width: 800px){
  .table-7-4-2 { flex-wrap: wrap; }
  .table-7-4-2 .col {
    box-sizing: border-box;
    width: 50%;
  }
}
