@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

body {
  background-color: #f8f0f1;
  color: #553b42;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #aa19c8;
  border: none;
  color: #f8f0f1;
  display: inline-block;
  font-weight: bold;
  margin: 1em 1em 2em 0;
  padding: .5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div { font-family: 'Roboto', sans-serif; }

h2 {
  color: #aa19c8;
  font-family: 'Roboto Slab', serif;
  font-size: 1.1em;
}

h3 {
  color: #031a68;
  font-family: 'Roboto Slab', serif;
  font-size: 1.1em;
}

h4 { color: #031a68; }

#overlay {
  background-color: white;
  bottom: 0;
  height: 100%;
  opacity: .8;
  position: absolute;
  top: 0;
  width: 100%;
}

#page { margin: 1em; }

.blurred { opacity: .2; }
.bold { font-weight: bold; }
.blue { color: #031a68; }
.cap { text-transform: capitalize; }
.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.flex {
  border-left: 2px solid #ddd;
  display: flex;
  margin-top: 1em;
}
.flex .col {
  border-right: 2px solid #ddd;
  color: #553b42;
  padding: 1em;
}
.flex .col.highlight-1:not(:first-child) { opacity: .2; }
.inl-b { display: inline-block; }
.input-min-w { min-width: 100px; }
.left { float: left; }
.marg-b { margin-bottom: 1.5em; }
.marg-r { margin-right: .5em; }
.marg-ver {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
.no-list-style {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.opaque { opacity: 1; }
.overflow-hide { overflow: hidden; }
.padding-hor { padding-left: .2em; padding-right: .2em; }
.right { float: right; }
.right-border { border-right: 3px solid #031a68; }
.serif { font-family: 'Roboto Slab', serif; }
.upperc { text-transform: uppercase; }
::placeholder {
  color: red;
  font-weight: bold;
}

@media (min-width: 1000px) {
  html{ font-size: 16px; }
}

@media (min-width: 800px) and (max-width: 1000px){
  html{ font-size: 16px; }
}

@media (max-width: 800px){
  html{ font-size: 14px; }
}
