.circle {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  height: 14px;
  padding: 5px;
  text-align: center;
  width: 14px;
}

.box {
  border: solid 1px;
  border-radius: 50%;
  color: green;
  margin: 2.5px;
}

.no-box {
  margin: 3.5px;
}

.title-circle { 
  margin-top: 6px; 
  width: 120px;
}
